@{
                /**/

                ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Water System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Our water system</h2>
        <p>Our main objectives is to create a seamless experience for your average household consumer which allows them to easily track and monitor real-time water usages.</p>
    </div>
    <div class="col-md-4">
        <h2>Our goals as a team</h2>
        <p>To create water awareness in Cape Town</p>
        <p>Make people more informed about their own personal water consumption</p>
        <p>Develop an easy to use platform
    </div>
    <div class="col-md-4">
        <h2>Meet the team</h2>
        <p>The team behind this innovatice idea are three third year students at UCT, all studying Information Systems as their major. Joshua Weiss is the the lead MQTT and SQL query master, Jake Frank the database and server specialist and Miles Johnson the head of HTML and CSS web design.</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application- b01a9fe8">Download &raquo;</a></p>
    </div>
</div>
